{% extends 'course/base_course.html' %}
{% load static %}

{% block body %}
<div class="container">

    <h1>{{ title }} <font size="5">(<a href="{% url 'course:business_simulation' %}" >Back</a>)</font></h1>
    <p>
        <h5>Registration</h5>
    </p>
            <h6>Learning Material</h6>
            <ul>
                <li>
                    <a href="#" >Instructor</a>
                </li>
                <li>
                    <a href="#" >Student</a>
                </li>
                <li>
                    <a href="#" >Coming Soon</a>
                </li>
            </ul>

            <h6>Recommended Material</h6>
            <ul>
                <li>
                    <a href="#" >Coming Soon</a>
                </li>
            </ul>


</div>
{% endblock %}
